[submodule "JavaTelegramBot-API-Examples"]
	path = JavaTelegramBot-API-Examples
	url = git@github.com:zackpollard/JavaTelegramBot-API-Examples.git
[submodule "TelegramBot-TheAyyBot"]
	path = TelegramBot-TheAyyBot
	url = git@github.com:zackpollard/TelegramBot-TheAyyBot.git
[submodule "JavaTelegramBot-API"]
	path = JavaTelegramBot-API
	url = https://github.com/zackpollard/JavaTelegramBot-API
[submodule "SkypeToTelegramBot"]
	path = SkypeToTelegramBot
	url = https://github.com/zackpollard/SkypeToTelegramBot
[submodule "GroupTagBot"]
	path = GroupTagBot
	url = https://github.com/zackpollard/GroupTagBot
